In [1]:
import pandas as pd
import numpy as np
from calculadora_targets import CalculadoraTargets

In [2]:
# PASSO 1: Gerar o conjunto de dados robusto
# (10.000 contratos * 24 meses = 240.000 registros)
dados = pd.read_excel('gabarito_ever_over.xlsx')

# Mostra informações sobre o DataFrame gerado
print("\n--- Informações do DataFrame Gerado ---")
dados.info()
print("\n--- Primeiros Registros ---")
display(dados.head())
print("\n--- Últimos Registros ---")
display(dados.tail())

--- Informações do DataFrame Gerado ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   safra_ref                  36 non-null     int64
 1   id_contrato                36 non-null     int64
 2   atraso                     36 non-null     int64
 3   gabarito_over90            36 non-null     int64
 4   gabarito_over90m12         36 non-null     int64
 5   gabarito_ever90m12         36 non-null     int64
 6   flag_acordo                36 non-null     int64
 7   gabarito_bad90             36 non-null     int64
 8   gabarito_target_ever90m12  36 non-null     int64
 9   gabarito_target_over90m12  36 non-null     int64
dtypes: int64(10)
memory usage: 2.9 KB

--- Primeiros Registros ---

,safra_ref,id_contrato,atraso,gabarito_over90,gabarito_over90m12,gabarito_ever90m12,flag_acordo,gabarito_bad90,gabarito_target_ever90m12,gabarito_target_over90m12
0,202001,1000010,0,0,0,0,0,0,0,0
1,202002,1000010,0,0,0,0,0,0,1,1
2,202003,1000010,0,0,0,0,0,0,1,0
3,202004,1000010,15,0,1,1,0,0,1,1
4,202005,1000010,45,0,0,1,0,0,1,0

--- Últimos Registros ---

,safra_ref,id_contrato,atraso,gabarito_over90,gabarito_over90m12,gabarito_ever90m12,flag_acordo,gabarito_bad90,gabarito_target_ever90m12,gabarito_target_over90m12
31,202208,1000010,5,0,0,1,0,0,1,0
32,202209,1000010,15,0,0,1,0,0,1,0
33,202210,1000010,30,0,0,1,0,0,1,0
34,202211,1000010,60,0,0,1,0,0,1,0
35,202212,1000010,90,1,0,0,0,1,0,0

In [3]:
# 2. Defina as metas que você quer calcular
#    Formato: (tipo, dias_de_atraso, horizonte_em_meses)
minhas_metas = [
    ('ever', 90, 12),   # Atingiu 90 dias de atraso em algum momento nos próximos 12 meses?
    ('over', 90, 12),    # Estava com 90 dias ou mais de atraso exatamente 12 meses depois?
    ('ever', 30, 4),    # Atingiu 30 dias de atraso em algum momento nos próximos 4 meses?
    ('over', 30, 4),    # Estava com 30 dias ou mais de atraso exatamente 4 meses depois?
]

# 3. Crie a calculadora e execute o cálculo
#    Instancie a classe com suas especificações.
calculadora = CalculadoraTargets(
    specs=minhas_metas, 
    date_col='safra_ref',
    contract_col='id_contrato',
    dpd_col='atraso'
    )

In [4]:
minhas_metas = [
    ('ever', 90, 12),   
    ('over', 90, 12),   
    ('ever', 30, 4),    
    ('over', 30, 4),    
]

In [5]:
#    Chame o método 'calcular' para obter o resultado.
df = calculadora.calcular(dados)

# 4. Veja o resultado!
display(df[['safra_ref','id_contrato','atraso','over90m12', 'gabarito_over90m12']])
#display(df[['safra_ref','id_contrato','atraso','ever90m12', 'gabarito_ever90m12']])

    safra_ref  id_contrato  atraso  over90m12  gabarito_over90m12
0      202001      1000010       0          0                   0
1      202002      1000010       0          0                   0
2      202003      1000010       0          0                   0
3      202004      1000010      15          1                   1
4      202005      1000010      45          0                   0
5      202006      1000010      75          0                   0
6      202007      1000010       0          0                   0
7      202008      1000010       0          0                   0
8      202009      1000010       0          0                   0
9      202010      1000010       0          0                   0
10     202011      1000010       0          0                   0
11     202012      1000010       0          0                   0
12     202101      1000010      12          0                   0
13     202102      1000010      42          0                   0
14     202103      1000010      72          0                   0
15     202104      1000010     102          0                   0
16     202105      1000010       0          0                   0
17     202106      1000010       0          0                   0
18     202107      1000010       0          0                   0
19     202108      1000010       0          0                   0
20     202109      1000010       0          0                   0
21     202110      1000010       0          0                   0
22     202111      1000010      10          0                   0
23     202112      1000010      25          1                   1
24     202201      1000010       0          0                   0
25     202202      1000010       0          0                   0
26     202203      1000010       0          0                   0
27     202204      1000010       0          0                   0
28     202205      1000010       0          0                   0
29     202206      1000010       0          0                   0
30     202207      1000010       0          0                   0
31     202208      1000010       5          0                   0
32     202209      1000010      15          0                   0
33     202210      1000010      30          0                   0
34     202211      1000010      60          0                   0
35     202212      1000010      90          0                   0

In [6]:
minhas_metas = [
    ('ever', 90, 12),   
    ('over', 90, 12),   
    #('ever', 30, 4),    
    #('over', 30, 4),    
]

calculadora = CalculadoraTargets(
    specs=minhas_metas, 
    date_col='safra_ref',
    contract_col='id_contrato',
    dpd_col='atraso'
    )

df_work = dados.copy()
# 1) garante coluna _date interna
df_work["_date"] = pd.to_datetime(df_work["safra_ref"].astype(str), format="%Y%m")

# 2) flags “bad”
calculadora._flag_bad_columns(df_work, flag_col="flag_acordo")

# 3) targets
calculadora._calculate_ever_targets_from_bad(df_work)
calculadora._calculate_over_targets_from_bad(df_work)

# pronto!  df_work agora tem:
#   bad30, bad90, target_ever90m12, target_over90m12, target_ever30m4, target_over30m4

In [7]:
display(df_work[['safra_ref','id_contrato','atraso','flag_acordo', 'target_ever90m12', 'gabarito_target_ever90m12']])

,safra_ref,id_contrato,atraso,flag_acordo,target_ever90m12,gabarito_target_ever90m12
0,202001,1000010,0,0,0,0
1,202002,1000010,0,0,1,1
2,202003,1000010,0,0,1,1
3,202004,1000010,15,0,1,1
4,202005,1000010,45,0,1,1
5,202006,1000010,75,0,1,1
6,202007,1000010,0,0,1,1
7,202008,1000010,0,0,1,1
8,202009,1000010,0,0,1,1
9,202010,1000010,0,0,1,1
10,202011,1000010,0,0,1,1
11,202012,1000010,0,0,1,1
12,202101,1000010,12,0,1,1
13,202102,1000010,42,1,1,1
14,202103,1000010,72,0,1,1
15,202104,1000010,102,0,1,1
16,202105,1000010,0,0,1,1
17,202106,1000010,0,0,1,1
18,202107,1000010,0,0,1,1
19,202108,1000010,0,0,1,1
20,202109,1000010,0,0,1,1
21,202110,1000010,0,0,1,1
22,202111,1000010,10,0,1,1
23,202112,1000010,25,0,1,1
24,202201,1000010,0,0,1,1
25,202202,1000010,0,0,1,1
26,202203,1000010,0,0,1,1
27,202204,1000010,0,1,1,1
28,202205,1000010,0,0,1,1
29,202206,1000010,0,0,1,1
30,202207,1000010,0,0,1,1
31,202208,1000010,5,0,1,1
32,202209,1000010,15,0,1,1
33,202210,1000010,30,0,1,1
34,202211,1000010,60,0,1,1
35,202212,1000010,90,0,0,0

In [8]:
display(df_work[['safra_ref','id_contrato','atraso','flag_acordo', 'target_over90m12', 'gabarito_target_over90m12']])

,safra_ref,id_contrato,atraso,flag_acordo,target_over90m12,gabarito_target_over90m12
0,202001,1000010,0,0,0,0
1,202002,1000010,0,0,1,1
2,202003,1000010,0,0,0,0
3,202004,1000010,15,0,1,1
4,202005,1000010,45,0,0,0
5,202006,1000010,75,0,0,0
6,202007,1000010,0,0,0,0
7,202008,1000010,0,0,0,0
8,202009,1000010,0,0,0,0
9,202010,1000010,0,0,0,0
10,202011,1000010,0,0,0,0
11,202012,1000010,0,0,0,0
12,202101,1000010,12,0,0,0
13,202102,1000010,42,1,0,0
14,202103,1000010,72,0,0,0
15,202104,1000010,102,0,1,1
16,202105,1000010,0,0,0,0
17,202106,1000010,0,0,0,0
18,202107,1000010,0,0,0,0
19,202108,1000010,0,0,0,0
20,202109,1000010,0,0,0,0
21,202110,1000010,0,0,0,0
22,202111,1000010,10,0,0,0
23,202112,1000010,25,0,1,1
24,202201,1000010,0,0,0,0
25,202202,1000010,0,0,0,0
26,202203,1000010,0,0,0,0
27,202204,1000010,0,1,0,0
28,202205,1000010,0,0,0,0
29,202206,1000010,0,0,0,0
30,202207,1000010,0,0,0,0
31,202208,1000010,5,0,0,0
32,202209,1000010,15,0,0,0
33,202210,1000010,30,0,0,0
34,202211,1000010,60,0,0,0
35,202212,1000010,90,0,0,0

In [ ]:
fig = calculadora.plot_targets(
    df,
    target_cols=[
        "ever90m12",
        "over90m12",
        "ever30m4",
        "over30m4",
        ],
    normalize=True,   # exibe porcentagem
    title="Evolução dos targets"
)
fig.show()

In [ ]:
df[df['ever90m12']==1]

In [ ]:
# cálculo dos targets

# ------------------- auditoria de contrato escolhido manualmente ---------------
evid1 = calculadora.audit_contract(
    df,
    contract_id="00000010",           # substitua pelo seu CCB real
    show_only_mismatches=False        # veja todas as linhas, com coluna __match__
)
display(evid1.head())

In [ ]:
# ------------------- auditoria de contrato aleatório ---------------------------
evid2 = calculadora.audit_contract(
    df,
    random_state=42                   # para reproduzir a mesma escolha
    # contract_id fica None → aleatório
)
if evid2.empty:
    print("Nenhuma divergência encontrada!")
else:
    print("Divergências:", evid2)